@model IEnumerable<DnDSB.Models.Character>

@{
    ViewData["Title"] = "Character";
}

@Html{

<div class="container-full">
    <div class="row">
        <div class="col-xs-12">
            <table id="grid"></table>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var grid, countries;
        countries = ["Bulgaria", "Brazil", "England", "Germany", "Colombia", "Poland"],
            grid = $('#grid').grid({
                dataSource: '/Players/Get',
                uiLibrary: 'bootstrap',
                primaryKey: 'CharacterID',
                inlineEditing: { mode: 'command' },
                columns: [
                    { field: 'CharacterName', editor: true },
                    { field: 'Nationality', type: 'dropdown', editor: { dataSource: countries } },
                    { field: 'DateOfBirth', type: 'date', editor: true },
                    { field: 'IsActive', title: 'Active?', type: 'checkbox', editor: true, width: 65, align: 'center' }
                ],
                pager: { limit: 5 }
            });
        grid.on('rowDataChanged', function (e, id, record) {
            // Format the date to format that is supported by the backend.
            record.DateOfBirth = gj.core.parseDate(record.DateOfBirth, 'mm/dd/yyyy').toISOString();
            // Post the data to the server
            $.ajax({ url: '/Players/Save', data: { record: record }, method: 'POST' })
                .fail(function () {
                    alert('Failed to save.');
                });
        });
        grid.on('rowRemoving', function (e, $row, id, record) {
            if (confirm('Are you sure?')) {
                $.ajax({ url: '/Players/Delete', data: { id: id }, method: 'POST' })
                    .done(function () {
                        grid.reload();
                    })
                    .fail(function () {
                        alert('Failed to delete.');
                    });
            }
        });
    });


</script>
    }