@model DnDSB.Models.Character

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Character</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CharacterName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CharacterName" class="form-control" />
                <span asp-validation-for="CharacterName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Hp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hp" class="form-control" />
                <span asp-validation-for="Hp" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Str" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Str" class="form-control" />
                <span asp-validation-for="Str" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dex" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dex" class="form-control" />
                <span asp-validation-for="Dex" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Con" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Con" class="form-control" />
                <span asp-validation-for="Con" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Int" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Int" class="form-control" />
                <span asp-validation-for="Int" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Wis" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Wis" class="form-control" />
                <span asp-validation-for="Wis" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cha" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cha" class="form-control" />
                <span asp-validation-for="Cha" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
