@{
    ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron vertical-center">
    <h1>DnDSB</h1>
</div>*@
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to DnDSB</h2>
        <p>
            The idea behind this site is to make an interactive scoreboard for D&D that is a compain to the game.
        </p>
    </div>
</div>